@import "/home/7sev7nsev7n7/.cache/wal/colors-waybar.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Iosevka"; 
  font-style: normal;
  font-weight: bolder;
  font-size: 10pt;
}

window#waybar {
  color: @color1;
  background-color: @color0;
}

button {
  border-radius: 0px;
}

button:hover {
  background: inherit;
  border: 1px solid @color1;
}

#workspaces button {
  padding: 0.2rem;
  background: transparent;
  color: @color1;
}

#workspaces button.urgent {
  background: mix(@color4, @background, 0.5);
  color: @background
}

#custom-drawer,
#workspaces,
#language,
#window,
#submap,
#cava,
#custom-greet,
#custom-turbo,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad, 
#custom-notifications,
#custom-volume,
#custom-nowplaying {
  border-radius: 0px;
  margin: 8px 2px;
  padding: 0px 4px;
}

/* per-module configurations */
tooltip {
  background: none;
  background-color: @background;
  border-radius: 8px;
}

tooltip label {
  font-family: "Iosevka";
  font-size: 12pt;
  color: mix(@foreground, @color3, 0.2);
}

#custom-notifications,
#workspaces button.active {
  color: alpha(@background, 0.8);
  background: @color1;
}

#workspaces button.active {
  min-width: 1rem;
}

#custom-notifications.0,
window#waybar.empty #window {
  opacity: 0;
  margin: 0px;
  padding: 0px;
}

#battery.charging {
  color: mix(mix(@color4, #00ff00, 0.4), black, 0.6);
  background-color: mix(@color4, alpha(#00ff00, 0.8), 0.7);
}

#battery.warning:not(.charging) {
  background: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#network.disconnected {
  background: mix(@color4, red, 0.6);
}

#temperature.critical {
  background: #eb4d4b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background: @color4;
}
