/**  colors will come from .cache/wal/colors.css as variables defined in :root
 *  see: cat $HOME/.cache/wal/colors.css
*/

* {
	font-family: "Iosevka" !important;
	font-weight: normal;
  border-radius: 0px !important;
}

/* friends page */
.peopleList-2VBrVI, .inner-2pOSmK {
	background: var(--darkbg);
}

.peopleColumn-1wMU14{
	background: var(--color0);
}

element {
  font-size: 100%;
}

/* end element */
:root {
  --bdfdb-blurple: var(--color2);
  --brand-500: var(--color3); /* replace blurple */
}

.theme-dark {
	--bg-brand: var(--color3) !important; /* Discord logo at top left while active */
  --background-surface-higher: var(--color8) !important; /* background for floating right click menu */
  --focus-primary: var(--color8) !important; /* Focused areas like messages */
  --text-normal: var(--foreground) !important; /* General text */
  --text-muted: var(--color8) !important; /* Time stamps, search bar, date separators */
  --text-link: var(--color1) !important; /* Links */
  --channels-default: var(--color6) !important; /* General channels text color */
  --channel-icon: var(--color1) !important; /* Channel hashtag color */
  --background-primary: var(--background); /* Main background color, used in main chat */
  --background-base-lower: var(--background) !important; /* Main background color, used in main chat */
  --background-secondary: var(--background); /* Secondary color, used in channel bar and user list */
  --background-base-lowest: var(--background) !important; /* Secondary color, used in channel bar and user list */
  --bg-overlay-chat: var(--background) !important; /* Secondary color, used in channel bar and user list */
  --background-secondary-alt: var(--background); /* User panel at bottom left */
  --background-base-low: var(--background) !important; /* User panel at bottom left */
  --background-tertiary: var(--background); /* Color used as background at back of everything */
  --bg-base-tertiary: var(--background) !important; /* Color used as background at back of everything */
  --background-accent: green; /* Small accents like bot data access icons */
  --background-floating: green; /* ??? */
  --background-modifier-accent: green; /* Separators at top and side, and mod view header */
  --background-message-hover: color-mix(in srgb, var(--foreground) 10%, transparent) !important; /* Background for hovered message */
  --chat-background-default: var(--background); /* Background for text input area */
  --textbox-markdown-syntax: var(--foreground); /* Color for ticks while typing markdown text */
  --icon-feedback-warning: var(--color1); /* Color for mentions */
  --message-mentioned-background-default: color-mix(in srgb, var(--icon-feedback-warning), transparent); /* Background for mentioned messages */
  --info-warning-foreground: var(--color1); /* Mention side bar highlight */
  --spoiler-hidden-background: color-mix(in srgb, var(--color8), var(--background) 80%); /* Spoilered content */
	--channel-text-area-placeholder: color-mix(in srgb, var(--foreground) 20%, transparent); /* Placeholder text for input */
  --background-nested-floating: color-mix(in srgb, var(background) 80%, transparent); /* Color for popups like quick reactions */
	#app-mount ::-webkit-scrollbar-thumb {
    background-color: var(--color1);	/* Scroll bar */
	}
	#app-mount ::-webkit-scrollbar-track { /* Scroll bar area */
    background-color: var(--background); /* Scroll bar area */
	}
}

/* end .theme-dark */

/* Hovered messages */
._5126c0cd07f243a0-message:hover {
  background-color: var(--background-message-hover);
}
._5126c0cd07f243a0-mentioned:hover {
  background-color: var(--color1);
}

/* User popout body */
.theme-dark .body-3iLsc4,
.theme-dark .footer-1fjuF6 {
}

/* Bottom part of user popout */
.body-3ND3kc {
  opacity: 1.0 !important;
}

/* Unread Message Bubble */
.base__2b1f5 {
	color: green !important;
}

/* User popout header when playing a game */
.headerPlaying-j0WQBV,
.headerFill-adLl4x,
.activityProfile-2bJRaP,
.activity-1ythUs,
.header-QKLPzZ {
  background: green;
}

/* Start rebranding gross yuck */
.lookFilled-1Gx00P.colorBrand-3pXr91 {
  color: var(--text);
  background-color: var(--color1);
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
  color: var(--text);
  background-color: var(--color2);
}

.lookFilled-1Gx00P.colorRed-1TFJan {
  color: var(--text);
  background-color: var(--color3);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
  color: var(--text);
  background-color: var(--color1);
}

.botTagRegular-2HEhHi {
  color: var(--text);
  background: var(--color1);
}

.theme-dark .wrapper-3WhCwL {
  color: var(--text);
  background: var(--darkbg);
}

.reaction-1hd86g.reactionMe-wv5HKu {
  color: var(--text);
  border-color: var(--color3);
  background-color: color-mix(in srgb, var(--background) 70%, var(--color3));
}

.newMessagesBar_cf58b5 {
  top: 0;
  background-color: var(--color2);
  -webkit-box-shadow: var(--elevation-low);
  box-shadow: var(--elevation-low);
}

.rtcConnectionStatusConnected-VRZDjy,
.rtcConnectionQualityFine-2J6i8z,
.pingForeground-2uAOZ3 {
  color: var(--color2);
}

.lookFilled-1Gx00P.colorYellow-2JqYwt {
  color: var(--text);
  background-color: var(--color3);
}

/* End rebranding gross yuck */

/* Tab underneath users in the Active Now tab on the friends page */
.theme-dark .inset-3sAvek {
  background-color: rgba(255, 255, 255, 0.06);
}

/* Edit buttons in the settings page */
.lookFilled-1Gx00P.colorGrey-2DXtkV {
  color: #fff;
  background-color: var(--color1);
}

/* Settings */
.scroller-2FKFPG.sidebarRegionScroller-3MXcoP {
  background: var(--darkbg);
}

/* re-introduce rounding for some elements */
.iconBadge__650eb.isCurrentUserConnected__650eb {
  border-radius: 0px !important;
}

/* reply bar above text input */
.replyLabel__841c8 {
  color: var(--foreground) !important;
}
.replyBar__841c8,
.stackedBars__74017 {
  background-color: var(--background) !important;
}

/* code blocks and inline code */
.inlineCode_ada32f,
.codeLine_ada32f {
  font-family: "Iosevka" !important;
}

/* popup menu when right clicked */
.menu_c1e9c4 {
  background-color: var(--background);
}

/* end of settings */

html body {

  .appMount-3lHmkl,
  body,
  html {
    height: 100%;
    width: 100%;
  }

  /* end .appMount-3lHmkl, body, html */

  a,
  abbr,
  acronym,
  address,
  applet,
  big,
  blockquote,
  body,
  caption,
  cite,
  dd,
  del,
  dfn,
  div,
  dl,
  dt,
  em,
  fieldset,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  html,
  iframe,
  img,
  ins,
  kbd,
  label,
  legend,
  li,
  object,
  ol,
  p,
  pre,
  q,
  s,
  samp,
  small,
  span,
  strike,
  strong,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr,
  tt,
  ul,
  var {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }

  code {
    font-family: "Iosevka" !important;
  }

  /* end a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var */

  element {}

  /* end element */

  ::placeholder,
  body,
  button,
  input,
  select,
  textarea {
    font-family: "Noto Sans";
    text-rendering: optimizeLegibility;
  }

  /* end ::placeholder, body, button, input, select, textarea */

  ::placeholder,
  body,
  button,
  input,
  select,
  textarea {
    font-family: "Noto Sans";
    text-rendering: optimizeLegibility;
  }

  /* end ::placeholder, body, button, input, select, textarea */

  ::-webkit-input-placeholder,
  body,
  button,
  input,
  select,
  textarea {
    font-family: "Noto Sans";
    text-rendering: optimizeLegibility;
  }

  /* end ::-webkit-input-placeholder, body, button, input, select, textarea */
}

/* end body */

html body div#app-mount.appMount-3lHmkl {
  element {}

  /* end element */

  .appMount-3lHmkl,
  body {
    background-color: var(--background-tertiary);
    text-rendering: optimizeLegibility;
  }

  /* end .appMount-3lHmkl, body */

  .appMount-3lHmkl,
  body,
  html {
    height: 100%;
    width: 100%;
  }

  /* end .appMount-3lHmkl, body, html */

  body {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans";
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: transparent;
    background-color: transparent;
  }

  /* end body */

  a,
  abbr,
  acronym,
  address,
  applet,
  big,
  blockquote,
  body,
  caption,
  cite,
  code,
  dd,
  del,
  dfn,
  div,
  dl,
  dt,
  em,
  fieldset,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  html,
  iframe,
  img,
  ins,
  kbd,
  label,
  legend,
  li,
  object,
  ol,
  p,
  pre,
  q,
  s,
  samp,
  small,
  span,
  strike,
  strong,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr,
  tt,
  ul,
  var {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: "Noto Sans";
    font-size: 100%;
    vertical-align: baseline;
  }

  /* end a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var */

  a,
  button,
  div,
  input,
  select,
  span,
  strong,
  textarea {
    outline: 0;
  }

  /* end a, button, div, input, select, span, strong, textarea */

  a,
  abbr,
  acronym,
  address,
  applet,
  big,
  blockquote,
  body,
  caption,
  cite,
  code,
  dd,
  del,
  dfn,
  div,
  dl,
  dt,
  em,
  fieldset,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  html,
  iframe,
  img,
  ins,
  kbd,
  label,
  legend,
  li,
  object,
  ol,
  p,
  pre,
  q,
  s,
  samp,
  small,
  span,
  strike,
  strong,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr,
  tt,
  ul,
  var {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: "Noto Sans";
    font-size: 100%;
    vertical-align: baseline;
  }

  /* end a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var */
}

/* end body div#app-mount.appMount-3lHmkl */

.avatarSpeaking-2pCGrZ {
  /* fix speaking indicator */
  -webkit-box-shadow: inset 0 0 0 2px var(--foreground),
    inset 0 0 0 3px var(--background-secondary);
  box-shadow: inset 0 0 0 2px var(--foreground), inset 0 0 0 3px;
}
