/**  colors will come from .cache/wal/colors.css as variables defined in :root
 *  see: cat $HOME/.cache/wal/colors.css
*/

* {
	font-family: "Noto Sans";
	font-weight: normal;
	border-radius: 16px;
}

/* friends page */
.peopleList-2VBrVI, .inner-2pOSmK {
	background: var(--darkbg);
}

.peopleColumn-1wMU14{
	background: var(--color0);
}

element {
  font-size: 100%;
}

/* end element */
:root {
  /*--darkbg: linear-gradient(rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.1)),var(--background);*/
  --bdfdb-blurple: var(--color2);
  --brand-500: color-mix(in srgb, var(--background) 50%, transparent); /* replace blurple */
}

html.newBrand {
	/*
  --brand-experiment: var(--color1);
  --brand-experiment-100: var(--text);
  --brand-experiment-130: var(--text);
  --brand-experiment-160: var(--text);
  --brand-experiment-200: var(--text);
  --brand-experiment-230: var(--text);
  --brand-experiment-260: var(--text);
  --brand-experiment-300: var(--color1);
  --brand-experiment-330: var(--color1);
  --brand-experiment-360: var(--color1);
  --brand-experiment-400: var(--color1);
  --brand-experiment-430: var(--color1);
  --brand-experiment-460: var(--color1);
  --brand-experiment-500: var(--color1);
  --brand-experiment-530: var(--color1);
  --brand-experiment-560: var(--color1);
  --brand-experiment-600: var(--color1);
  --brand-experiment-630: var(--color1);
  --brand-experiment-660: var(--color8);
  --brand-experiment-700: var(--color8);
  --brand-experiment-730: var(--color8);
  --brand-experiment-760: var(--color8);
  --brand-experiment-800: var(--background);
  --brand-experiment-830: var(--background);
  --brand-experiment-860: var(--background);
  --brand-experiment-900: var(--background);
	*/
}

.theme-dark {
	--bg-brand: var(--color4); /* Discord logo at top left while hovered */
  --focus-primary: color-mix(in srgb, var(--foreground) 50%, transparent); /* Focused areas like messages */
  --brand-experiment: blue; /* Unknown */
  --text-positive: blue; /* Unknown */
  --header-primary: var(--foreground); /* Headers like bot names and colors beside active servers */
  --header-secondary: var(--color6); /* Statuses, channel descriptions and plus sign */
  --text-normal: var(--foreground); /* General text */
  --text-muted: var(--color6); /* Time stamps, search bar */
  --text-link: var(--color6); /* Links */
  --channels-default: var(--color4); /* General channels */
  --interactive-normal: var(--foreground); /* Interactable buttons like reaction and pin buttons */
  --interactive-hover: color-mix(in srgb, white, var(--foreground) 20%); /* Color when interactables are hovered */
  --interactive-active: color-mix(in srgb, var(--color5) 80%, white); /* Color when interactables are active */
  --interactive-muted: color-mix(in srgb, var(--color6) 50%, transparent); /* Muted channel text */
  --background-primary: linear-gradient(color-mix(in srgb, var(--foreground) 10%, transparent), color-mix(in srgb, var(--background) 30%, transparent), color-mix(in srgb, var(--foreground) 10%, transparent)); /* Main background color, used in main chat */
  --background-secondary: linear-gradient(color-mix(in srgb, var(--foreground) 10%, transparent), color-mix(in srgb, var(--background), transparent), color-mix(in srgb, var(--foreground) 10%, transparent)); /* Secondary color, used in channel bar and user list */
  --background-secondary-alt: linear-gradient(color-mix(in srgb, var(--foreground) 20%, transparent), transparent, color-mix(in srgb, var(--foreground) 20%, transparent)); /* User panel at bottom left */
  --background-tertiary: color-mix(in srgb, var(--background) 30%, transparent); /* Color used as background at back of everything */
  --background-accent: var(--foreground); /* Small accents like bot data access icons */
  --background-floating: color-mix(in srgb, var(--background) 80%, transparent); /* Background of floating items, such as dialog for reacting */
  --background-mobile-primary: blue; /* Unknown */
  --background-mobile-secondary: blue; /* Unknown */
  /*--background-modifier-hover: linear-gradient(color-mix(in srgb, var(--foreground) 90%, transparent), color-mix(in srgb, var(--background) 80%, transparent)); /* Hovered direct message channel */
  --background-modifier-hover: color-mix(in srgb, var(--foreground) 20%, transparent); /* Hovered direct message channel modifier */
  --background-modifier-active: linear-gradient(color-mix(in srgb, var(--foreground) 90%, transparent), color-mix(in srgb, var(--background) 80%, transparent), color-mix(in srgb, var(--foreground) 90%, transparent)); /* Clicked direct message channel */
  --background-modifier-selected: linear-gradient(color-mix(in srgb, var(--foreground) 20%, transparent), transparent, color-mix(in srgb, var(--foreground) 20%, transparent)); /* Active direct message channel */
  --background-modifier-accent: color-mix(in srgb, var(--background), transparent); /* Separators at top and side, and mod view header */
  --background-mentioned: linear-gradient(color-mix(in srgb, var(--foreground) 20%, transparent), transparent, color-mix(in srgb, var(--foreground) 20%, transparent)); /* Highlights for mentions */
  --background-mentioned-hover: linear-gradient(color-mix(in srgb, var(--foreground) 80%, transparent), transparent, color-mix(in srgb, var(--foreground) 80%, transparent)); /* Hovered highlights for mentions */
  --background-message-hover: linear-gradient(color-mix(in srgb, var(--foreground) 20%, transparent), color-mix(in srgb, var(--foreground) 10%, transparent), color-mix(in srgb, var(--foreground) 20%, transparent)); /* Background for hovered message */
  --elevation-stroke: 0 0 0 1px var(--background); /* Outline for items in front of overs, such as quick emojis */
  --elevation-low: 0 1px 0 var(--background); /* Separator for find and direct message sections */
  --elevation-medium: 0 4px 4px var(--background); /* Shadow for elevated buttons in already elevated items */
  --elevation-high: 0 8px 16px var(--background); /* Elevated items shadow */
  --logo-primary: blue; /* Unknown */
  --guild-header-text-shadow: 0 1px 1px blue; /* Unknown */
  --channeltextarea-background: linear-gradient(color-mix(in srgb, var(--foreground) 20%, transparent), transparent, color-mix(in srgb, var(--foreground) 20%, transparent)); /* Background for text input area */
  --activity-card-background: color-mix(in srgb, var(--background), transparent); /* Background for activity card in friends list */
  --textbox-markdown-syntax: var(--foreground); /* Color for ticks while typing markdown text */
  --deprecated-card-bg: blue; /* Unknown */
  --deprecated-card-editable-bg: blue; /* Unknown */
  --deprecated-store-bg: blue; /* Unknown */
  --deprecated-quickswitcher-input-background: blue; /* Unknown */
  --deprecated-quickswitcher-input-placeholder: blue; /* Unknown */
  --deprecated-text-input-bg: color-mix(in srgb, var(--foreground) 20%, transparent); /* Background for add friend text dialogue */
  --deprecated-text-input-border: color-mix(in srgb, var(--foreground) 50%, transparent); /* Outline for add friend text dialogue */
  --deprecated-text-input-border-hover: blue; /* Unknown */
  --deprecated-text-input-border-disabled: blue; /* Unknown */
  --deprecated-text-input-prefix: blue; /* Unknown */
  --text-positive: var(--foreground); /* Timers for activity statuses */
  --text-warning: var(--color6); /* Chat or server owner crown icon */
  --text-danger: blue; /* Unknown */
  --info-positive-background: blue; /* Unknown */
  --info-positive-foreground: blue; /* Unknown */
  --info-warning-background: blue; /* Unknown */
  --info-warning-foreground: var(--foreground); /* Mention side bar highlight */
  --info-danger-background: blue; /* Unknown */
  --info-danger-foreground: blue; /* Unknown */
  --status-positive-background: var(--foreground); /* Add friend background */
  --status-positive-text: var(--background); /* Add friend text */
  --status-warning-background: blue; /* Unknown */
  --status-danger-background: blue; /* Unknown */
	--channel-text-area-placeholder: color-mix(in srgb, var(--foreground) 40%, transparent); /* Placeholder text for input */
	--background-nested-floating: linear-gradient(color-mix(in srgb, var(--foreground) 30%, transparent) 50%, color-mix(in srgb, var(--background) 10%, transparent)); /* Color for popups like quick reactions */
	--status-danger: var(--foreground); /* New messages divider */
	--autocomplete-bg: var(--background); /* Autocompletion container background */
	#app-mount ::-webkit-scrollbar-thumb {
		background: linear-gradient(color-mix(in srgb, var(--foreground) 30%, transparent), color-mix(in srgb, var(--background) 20%, transparent), color-mix(in srgb, var(--foreground) 30%, transparent));	/* Scroll bar */
	}
	#app-mount ::-webkit-scrollbar-track { /* Scroll bar area */
		background: linear-gradient(color-mix(in srgb, var(--foreground) 10%, transparent), color-mix(in srgb, var(--background) 10%, transparent), color-mix(in srgb, var(--foreground) 10%, transparent));
	}
}

/* end .theme-dark */

/* End cap for new message divider */
.endCap__908e2 {
	color: var(--background);
}

/* GIF / Sticker / Emoji picker wrapper background */
.contentWrapper__08434{
	background: var(--background);
	border-radius: 32px;
}

/* Account profile popout */
.inner_c0bea0.biteSize_c0bea0{
	background: var(--background) !important;
}

/* Friends tab background */
.theme-dark .container-1D34oG {
  background-color: blue; /* Unknown */
}

/* User popout body */
.theme-dark .body-3iLsc4,
.theme-dark .footer-1fjuF6 {
  background-color: blue; /* Unknown */
  opacity: 1 !important; /* Unknown */
}

/* User popout header */
.theme-dark .headerNormal-T_seeN {
  background-color: blue; /* Unknown */
}

/* Bottom part of user popout */
.body-3ND3kc {
  background-color: blue !important; /* Unknown */
  opacity: 1.0 !important;
}

/* User popout header when playing a game */
.headerPlaying-j0WQBV,
.headerFill-adLl4x,
.activityProfile-2bJRaP,
.activity-1ythUs,
.header-QKLPzZ {
  background: blue;
}

/* Discover button */
.footer__214dc{
	background: transparent !important;
}

/* Start rebranding gross yuck */
.lookFilled-1Gx00P.colorBrand-3pXr91 {
  color: var(--text);
  background-color: var(--color1);
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
  color: var(--text);
  background-color: var(--color2);
}

.lookFilled-1Gx00P.colorRed-1TFJan {
  color: var(--text);
  background-color: var(--color3);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
  color: var(--text);
  background-color: var(--color1);
}

.botTagRegular-2HEhHi {
  color: var(--text);
  background: var(--color1);
}

.theme-dark .wrapper-3WhCwL {
  color: var(--text);
  background: var(--darkbg);
}

.reaction-1hd86g.reactionMe-wv5HKu {
  color: var(--text);
  border-color: var(--color3);
  background-color: var(--background);
}

.newMessagesBar_cf58b5 {
  top: 0;
  border-radius: 0 0 8px 8px;
  background-color: var(--color2);
  -webkit-box-shadow: var(--elevation-low);
  box-shadow: var(--elevation-low);
}

.rtcConnectionStatusConnected-VRZDjy,
.rtcConnectionQualityFine-2J6i8z,
.pingForeground-2uAOZ3 {
  color: var(--color2);
}

.lookFilled-1Gx00P.colorYellow-2JqYwt {
  color: var(--text);
  background-color: var(--color3);
}

/* End rebranding gross yuck */


/* Tab underneath users in the Active Now tab on the friends page */
.theme-dark .inset-3sAvek {
  background-color: rgba(255, 255, 255, 0.06);
}

/* Edit buttons in the settings page */
.lookFilled-1Gx00P.colorGrey-2DXtkV {
  color: #fff;
  background-color: var(--color1);
}


.scroller-2FKFPG.sidebarRegionScroller-3MXcoP {
  /* Settings */
  background: var(--darkbg);
}

/* end of settings */

html body {

  .appMount-3lHmkl,
  body,
  html {
    height: 100%;
    width: 100%;
  }

  /* end .appMount-3lHmkl, body, html */

  a,
  abbr,
  acronym,
  address,
  applet,
  big,
  blockquote,
  body,
  caption,
  cite,
  code,
  dd,
  del,
  dfn,
  div,
  dl,
  dt,
  em,
  fieldset,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  html,
  iframe,
  img,
  ins,
  kbd,
  label,
  legend,
  li,
  object,
  ol,
  p,
  pre,
  q,
  s,
  samp,
  small,
  span,
  strike,
  strong,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr,
  tt,
  ul,
  var {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }

  /* end a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var */

  element {}

  /* end element */

  ::placeholder,
  body,
  button,
  input,
  select,
  textarea {
    font-family: "Noto Sans";
    text-rendering: optimizeLegibility;
  }

  /* end ::placeholder, body, button, input, select, textarea */

  ::placeholder,
  body,
  button,
  input,
  select,
  textarea {
    font-family: "Noto Sans";
    text-rendering: optimizeLegibility;
  }

  /* end ::placeholder, body, button, input, select, textarea */

  ::-webkit-input-placeholder,
  body,
  button,
  input,
  select,
  textarea {
    font-family: "Noto Sans";
    text-rendering: optimizeLegibility;
  }

  /* end ::-webkit-input-placeholder, body, button, input, select, textarea */
}

/* end body */

html body div#app-mount.appMount-3lHmkl {
  element {}

  /* end element */

  .appMount-3lHmkl,
  body {
    background-color: var(--background-tertiary);
    text-rendering: optimizeLegibility;
  }

  /* end .appMount-3lHmkl, body */

  .appMount-3lHmkl,
  body,
  html {
    height: 100%;
    width: 100%;
  }

  /* end .appMount-3lHmkl, body, html */

  body {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans";
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: transparent;
    background-color: transparent;
  }

  /* end body */

  a,
  abbr,
  acronym,
  address,
  applet,
  big,
  blockquote,
  body,
  caption,
  cite,
  code,
  dd,
  del,
  dfn,
  div,
  dl,
  dt,
  em,
  fieldset,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  html,
  iframe,
  img,
  ins,
  kbd,
  label,
  legend,
  li,
  object,
  ol,
  p,
  pre,
  q,
  s,
  samp,
  small,
  span,
  strike,
  strong,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr,
  tt,
  ul,
  var {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: "Noto Sans";
    font-size: 100%;
    vertical-align: baseline;
  }

  /* end a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var */

  a,
  button,
  div,
  input,
  select,
  span,
  strong,
  textarea {
    outline: 0;
  }

  /* end a, button, div, input, select, span, strong, textarea */

  a,
  abbr,
  acronym,
  address,
  applet,
  big,
  blockquote,
  body,
  caption,
  cite,
  code,
  dd,
  del,
  dfn,
  div,
  dl,
  dt,
  em,
  fieldset,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  html,
  iframe,
  img,
  ins,
  kbd,
  label,
  legend,
  li,
  object,
  ol,
  p,
  pre,
  q,
  s,
  samp,
  small,
  span,
  strike,
  strong,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr,
  tt,
  ul,
  var {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: "Noto Sans";
    font-size: 100%;
    vertical-align: baseline;
  }

  /* end a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var */
}

/* end body div#app-mount.appMount-3lHmkl */

.avatarSpeaking-2pCGrZ {
  /* fix speaking indicator */
  -webkit-box-shadow: inset 0 0 0 2px var(--foreground),
    inset 0 0 0 3px var(--background-secondary);
  box-shadow: inset 0 0 0 2px var(--foreground), inset 0 0 0 3px;
}
